html {
  font-family: 'Barlow', sans-serif;
  box-sizing: border-box;
}
body {
  margin: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
  supported by Chrome, Edge, Opera and Firefox */
}
#container {
  position: relative;
  margin: 0 auto;
  /* width: 1200px; */
  height: 1000px;
  overflow: hidden;
}
.list {
  position: absolute;
  right: 50px;
  top: 50px;
  height: 300px;
  z-index: 1;
  list-style: none;
  margin-block-start: 0;
  margin-block-end: 0;
  font-size: 15px;
}
.list li {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-bottom: 15px;
}
.list h3 {
  margin-block-start: 0;
}
.zoom-controls {
  position: absolute;
  top: 50px;
  left: 50px;
  /* position: fixed;
  top: 50px;
  left: 50px; */
  display: flex;
  justify-content: space-around;
  align-items: center;
  cursor: pointer;
  z-index: 9;
}
.zoom {
  background-color: black;
  color: white;
  padding: 10px 20px;
}
.zoom:hover {
  background: rgb(91, 91, 91);
}
#dragme {
  width: auto;
  height: auto;
  position: absolute;
  transition: all 0.1s ease-in-out;
  cursor: grab;
}
#dragmeheader {
  cursor: grab;
}
.markers {
  z-index: 1;
}
.marker {
  position: absolute;
  top: 0;
  bottom: 0;
  transition: all 0.1s ease-in-out;
}
.dot {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  position: absolute;
  opacity: 0.5;
  cursor: default;
}
.dot:hover {
  opacity: 1.0;
  /* filter: invert(); */
}
.triangle {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  position: absolute;
  top: 25px;
  left: 7px;
  transform: translateX(-50%) scale(0);
  transition: transform 0.2s ease-in-out;
  transform-origin: bottom;
}
.markertext {
  /* Position the marker */
  position: absolute;
  z-index: 1;
  left: 8px;
  top: 30px;
  /* transition */
  transform: translateX(-50%) scale(0);
  transition: transform 0.2s ease-in-out;
  transform-origin: top;
  /* style */
  width: 180px;
  color: white;
  border-radius: 4px;
  padding: 20px;
  text-align: left;
  font-size: 12px;
}
.insti {
  font-size: 14px;
  margin: 0;
  font-weight: 700;
  border-bottom: 1px solid white;
  padding-bottom: 10px;
}
.city {
  margin-block-start: 0;
  margin-block-end: 2em;
  text-transform: uppercase;
}
.insti {
  font-size: 14px;
  margin: 0;
  font-weight: 700;
  border-bottom: 1px solid white;
  border-top: 1px solid white;
  padding: 10px 0;
  text-transform: uppercase;
}
.asoc {
  font-size: 14px;
  font-weight: 700;
  border-bottom: 1px solid white;
  padding-bottom: 20px;
  text-transform: uppercase;
  margin-bottom: 10px;
  margin-top: 0;
}
.text {
  margin-block-start: 5px;
  margin-block-end: 5px;
}
.text:first-child {
  margin-block-start: 10px;
}
.text:last-child {
  margin-block-end : 0;
}
.strong {
  font-weight: 700;
  display: block;
}
#mapImg {
  width: 13000px;
  height: auto;
  transition: all 0.1s ease-in-out;
}
